// MISE EN PLACE DES FADE IN //

// KEYFRAMES pour les Fade in
@keyframes fadeInBottom {
  /* Animation vers le bas */
  0% {
    opacity: 0;
    transform: translateY(200px); // distance de l'effet
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Animation fade in de toutes les sections
#story,
.my-studio,
footer {
  opacity: 0;
  animation: fadeInBottom 1.5s 0.5s forwards;
}

// KEYFRAMES pour les animations des paragraphes des sections

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px);
  }
}

// ROTATION DES FLEURS //

// taille des fleurs //

/* Hibiscus */
.story__article::after {
  width: 188px;
  height: 188px;
}

/* Sunflower */
.story h2::after,
.site-footer::before {
  width: 154px;
  height: 154px;
}

/* flower */
.my-studio h2::after {
  width: 109px;
  height: 109px;
}

/* random_flower. */
.my-studio h2::before {
  width: 203px;
  height: 203px;
}

/* orchid. */
.site-footer::after {
  width: 173px;
  height: 173px;
}

@keyframes rotate-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ajout de l'animation rotation sur les fleurs avec la variable --rotate définie dans root */
.story h2::after,
.story__article::after,
.my-studio h2::after,
.my-studio h2::before,
.nomination::before,
.nomination::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
  animation: rotate-flower var(--rotate) linear infinite;
}
