.banner {
  position: relative;
  margin-bottom: 60px;
  animation: moveDown 2s 300ms both; // Animation du parallaxe de la bannière
  margin-top: 60px;

  &__container {
    &--video {
      position: absolute;
      object-fit: cover;
      width: 100%;
      video {
        width: 100%;
      }
    }
  }

  &__logo {
    position: sticky;
    top: 80px;
    animation: moveUp 2s 300ms both,
      floating-animation 6s 2s infinite ease-in-out; // Animation du parallaxe du logo
    z-index: 10;
  }
}

// RESPONSIVE //

@media screen and (max-width: 768px) {
  .banner {
    min-height: 540px;
    margin-bottom: 40px;
    &__container {
      &--video {
        display: none; /* Masquer la vidéo pour les écrans entre 320px et 768px */
      }
    }
  }
}
